node_modules/
.env
.env.*
!.env.example
dist/
build/
tmp/
out-tsc/
coverage/
db_dumps/*.gz
db_dumps/*.dump
db_dumps/*.sql
db_dumps/*.bson
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.DS_Store
Thumbs.db
notices.ts
mongo-driver
