HOST=localhost
PORT=12220
PROXY_HOST=localhost
PROXY_PORT=1337

DATABASE_URI=
DATABASE_HOST=127.0.0.1
DATABASE_PORT=27017
DATABASE_NAME=innolab_dev
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_AUTHENTICATION_DATABASE=
DATABASE_SSL=false

SESSION_SECRET_1=replace-with-a-long-random-secret
SESSION_SECRET_2=replace-with-another-long-random-secret
CSRF_SECRET=replace-with-a-long-random-csrf-secret
